*{
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    /*background-color: #f5f5f5;*/
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.triangle-up{
    border: 10px solid #ffffff;
    border-color: transparent transparent #ffffff transparent;
    display: inline-block;
    width: 0px;
    height: 0px;
}
.triangle-right:before,.triangle-right:after{
    content: "";
    border: 8px solid #f1f1f1;
    border-color: transparent transparent transparent #f1f1f1;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 40px;
    right: -15px;
    display: inline-block;
}
.triangle-right:after{
    border-color: transparent transparent transparent #ffffff;
    right: -14px;
}